@charset "utf-8";
*{padding:0;margin:0}
body{color:#000;background:#fff;font:16px "Trebuchet MS",Calibri,sans-serif;min-width:1001px}
section,nav,footer,header{min-width:1001px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}
.hide{display:none}
.show{display:block}
.button{cursor:pointer}
.dark{background-color:rgba(0,0,0,.7);display:inline-block}

section{clear:both}
main{margin:0 auto;width:998px;position:relative}

#header{}

#form_up{}

#problems{}

#why{}

#quality{}

#price{background-color:#f5f5f5}
#price h2{text-align:center;color:#ff9524;font:bold 62px "Trebuchet MS";text-transform:uppercase;text-shadow:1px 1px 2px rgba(0, 0, 0, .6)}
#price ol{list-style:none}
#price ol li{position:relative;display:inline-block;width:417px;margin:20px 25px;font:19px "Trebuchet MS";color:white;}
.p1{background:url(img/p1.jpg) no-repeat top center}
.p2{background:url(img/p2.jpg) no-repeat top center}
.p3{background:url(img/p3.jpg) no-repeat top center}
.p4{background:url(img/p4.jpg) no-repeat top center}
.p4{background:url(img/p4.jpg) no-repeat top center}
#price ol li p{padding-top:250px;padding-left:20px;}
#price ol li button{cursor:pointer;background:url(img/price_knopka.png) no-repeat top center;text-align:center;font:bold 19px "Trebuchet MS";vertical-align:center;text-transform:uppercase;color:white;border:none;width:127px;line-height:45px;padding-bottom:9px;margin-left:150px;margin-top:45px}


#projects{background:url(img/fon6.jpg) no-repeat top center; height:1282px;}
#projects h2{text-align:center;color:white;font:bold 62px "Trebuchet MS";text-transform:uppercase;text-shadow:1px 1px 2px rgba(0, 0, 0, .6);padding-top:60px}
#projects img{margin-left:35px;padding-top:50px}
#projects p{background:url(img/skobka.png) no-repeat bottom center;padding-top:71px}

#how{background-color:#ff9524 ;color:white;}
#how main{height:197px;}
#how p{display:inline-block;border-left:2px solid white;height:197px;vertical-align:top;padding-left:10px;font:17px "Trebuchet MS"}
#how p.b1{width:230px;border-left:none;}
#how p.b2{width:230px;}
#how p.b3{width:230px;}
#how p.b4{width:237px;}
#how p span{display:block;font:bold 108px "Trebuchet MS";margin:-8px 0}

#about{background:url(img/fon4.jpg)no-repeat center top;height:706px;color:white;}
#about h2{text-align:center;color:white;font:bold 62px "Trebuchet MS";text-transform:uppercase;text-shadow:1px 1px 2px rgba(0, 0, 0, .6);padding:40px 0;}
#about div{display:inline-block;position:relative;width:400px;padding:0 45px;vertical-align:top;margin-top:143px}
#about div img{position:relative;
left: 50%; 
top: 50%; 
margin-top: -138px; 
margin-left: -108px;}
#about div h3{font-size:19px;text-align:center;padding:10px 0}
#about div p{text-align:center;font:16px "Trebuchet MS";}

#sertificats{background-color:#f3f3f3}
#sertificats div{background:url(img/certs.jpg) no-repeat top center;height:480px}
#sertificats h2{text-align:center;color:#ff9524;font:bold 62px "Trebuchet MS";text-transform:uppercase;text-shadow:1px 1px 2px rgba(0, 0, 0, .6);padding:50px 0;}
#sertificats button{cursor:pointer;background:url(img/price_knopka.png) no-repeat top center;text-align:center;font:bold 16px "Trebuchet MS";vertical-align:center;text-transform:uppercase;color:white;border:none;width:127px;line-height:45px;padding-bottom:9px;margin:-80px 95px 30px 100px;}

#formn_down{}

footer{text-align:center;color:#ff9524;font:bold 50px "Trebuchet MS";text-shadow:1px 1px 2px rgba(0, 0, 0, .6);}
footer p{padding:15px 5px}
footer p.right{font-size:40px;text-align:right}


#splash{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.8);color:white;text-shadow:0 0 1px #666;display:none;z-index:10}
#splash main{text-align:center;top:150px}
#splash form{margin:0 auto 0;position:static}

#copyright{text-align:center;font-size:12px;color:gray;font-family:Calibri}
#copyright a{color:lime;text-decoration:none}